@{
  ViewData["Title"] = "Pricing";
}

<section class="inner-banner">
  <div class="container">
    <ul class="list-unstyled thm-breadcrumb">
      <li><a href="Hone/index">Home</a></li>
      <li class="active"><a href="Pricing/Index">Pricing plans</a></li>
    </ul><!-- /.list-unstyled -->
    <h2 class="inner-banner__title">Pricing plans</h2><!-- /.inner-banner__title -->
  </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="pricing-one pricing-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="pricing-one__single">
          <div class="pricing-one__inner">
            <h2 class="pricing-one__price">4.000.000VND </h2><!-- /.pricing-one__price -->
            <p class="pricing-one__name">basic pack</p><!-- /.pricing-one__name -->
            <ul class="pricing-one__list list-unstyled">
              <li>Combo N4+N5</li>
              <li>Lifetime free support</li>
              <li>Join forum</li>
              <li>12 months time</li>
            </ul><!-- /.pricing-one__list -->
            <a href="/Courses/BuySuccess" class="thm-btn pricing-one__btn">Choose Plan</a><!-- /.thm-btn -->
            <p class="pricing-one__tag-line">No hidden charges!</p><!-- /.pricing-one__tag-line -->
          </div><!-- /.pricing-one__inner -->
        </div><!-- /.pricing-one__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="pricing-one__single">
          <div class="pricing-one__inner">
            <h2 class="pricing-one__price">5.000.000VND </h2><!-- /.pricing-one__price -->
            <p class="pricing-one__name">medium pack</p><!-- /.pricing-one__name -->
            <ul class="pricing-one__list list-unstyled">
              <li>Combo N3+N2</li>
              <li>Lifetime free support</li>
              <li>Join forum</li>
              <li>24 months time</li>
            </ul><!-- /.pricing-one__list -->
            <a href="/Courses/BuySuccess" class="thm-btn pricing-one__btn">Choose Plan</a><!-- /.thm-btn -->
            <p class="pricing-one__tag-line">No hidden charges!</p><!-- /.pricing-one__tag-line -->
          </div><!-- /.pricing-one__inner -->
        </div><!-- /.pricing-one__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="pricing-one__single">
          <div class="pricing-one__inner">
            <h2 class="pricing-one__price">5.500.000VND </h2><!-- /.pricing-one__price -->
            <p class="pricing-one__name">premium pack</p><!-- /.pricing-one__name -->
            <ul class="pricing-one__list list-unstyled">
              <li>Combo N3+N2+N1</li>
              <li>Lifetime free support</li>
              <li>Join forum</li>
              <li>36 months time</li>
            </ul><!-- /.pricing-one__list -->
            <a href="/Courses/BuySuccess" class="thm-btn pricing-one__btn">Choose Plan</a><!-- /.thm-btn -->
            <p class="pricing-one__tag-line">No hidden charges!</p><!-- /.pricing-one__tag-line -->
          </div><!-- /.pricing-one__inner -->
        </div><!-- /.pricing-one__single -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.pricing-one pricing-page -->
<section class="cta-one">
  <div class="container">
    <h2 class="cta-one__title">Fill form for free to regitser <br>
      yourself now</h2><!-- /.cta-one__title -->
    <div class="cta-one__btn-block">
      <a href="Courses/Index" class="thm-btn cta-one__btn">Start Learning Now</a><!-- /.thm-btn -->
    </div><!-- /.cta-one__btn-block -->
  </div><!-- /.container -->
</section><!-- /.cta-one -->